
.hide{
    display: none;
}

.small-txt{
    font-size:xx-small;
    float: right;
}

.post-link{
    text-decoration: none;
}

.card{
    width: 85%;margin-left: auto;margin-right: auto;
}

h2{
    background-color: rgb(35, 16, 16);
    color: rgb(217, 234, 211);
}

body{
    background-color:rgb(217, 234, 211);
}

header{
    background-color: rgb(35, 16, 16);
    color: rgb(217, 234, 211);
}
.header{
    background-color: rgb(35, 16, 16);
    color: rgb(217, 234, 211);
    text-decoration: none;
    padding:10px;
}
.header:hover{
    cursor:pointer;
}

.body-card{
    background-color: rgb(35, 16, 16);
    color: rgb(217, 234, 211);
}

.body-text{
    background-color: rgb(217, 234, 211);
    color: rgb(35, 16, 16);
    padding: unset;
    
    margin:1px;
}
.comment-btn{
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: steelblue;
    color: white;
}
.comment-btn:hover{
    background-color: rgba(70, 131, 180, 0.685);
}
.profile-posts{
    background-color: rgb(217, 234, 211);
    color: rgb(35, 16, 16);
    border-width: 1.5px;
}
.homepage-card{
    margin:unset;
}